
  <p-card header="คณิตศาสตร์">
    <div class="ui-g">
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="สถิติ" [toggleable]="true">
          <div *ngFor="let category of categories1" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="สถิติ">
          <div *ngFor="let category of categories1" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="เรขาคณิตวิเคราะห์" [toggleable]="true">
          <div *ngFor="let category of categories7" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="เรขาคณิตวิเคราะห์">
          <div *ngFor="let category of categories7" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="เมทริกซ์" [toggleable]="true">
          <div *ngFor="let category of categories14" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="เมทริกซ์">
          <div *ngFor="let category of categories14" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

    </div>
    <!-- /////////////////////////////////////////////////////////////////////////// -->

    <div class="ui-g">
      
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="จำนวนจริงและพหุนาม" [toggleable]="true">
          <div *ngFor="let category of categories10" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="จำนวนจริงและพหุนาม">
          <div *ngFor="let category of categories10" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ลำดับและอนุกรม" [toggleable]="true">
          <div *ngFor="let category of categories4" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ลำดับและอนุกรม">
          <div *ngFor="let category of categories4" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ฟังก์ชัน" [toggleable]="true">
          <div *ngFor="let category of categories11" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ฟังก์ชัน">
          <div *ngFor="let category of categories11" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

    </div>
    <!-- /////////////////////////////////////////////////////////////////////////// -->

    <div class="ui-g">

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ตรรกศาสตร์" [toggleable]="true">
          <div *ngFor="let category of categories9" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ตรรกศาสตร์">
          <div *ngFor="let category of categories9" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="การแจกแจงความน่าจะเป็นเบื้องต้น" [toggleable]="true">
          <div *ngFor="let category of categories2" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="การแจกแจงความน่าจะเป็นเบื้องต้น">
          <div *ngFor="let category of categories2" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="แคลคูลัส" [toggleable]="true">
          <div *ngFor="let category of categories5" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="แคลคูลัส">
          <div *ngFor="let category of categories5" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>
    </div>
    
    <div class="ui-g">
    
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="หลักการนับเบื้องต้น" [toggleable]="true">
          <div *ngFor="let category of categories16" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="หลักการนับเบื้องต้น">
          <div *ngFor="let category of categories16" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ฟังก์ชันตรีโกณมิติ" [toggleable]="true">
          <div *ngFor="let category of categories12" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ฟังก์ชันตรีโกณมิติ">
          <div *ngFor="let category of categories12" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="เวกเตอร์ในสามมิติ" [toggleable]="true">
          <div *ngFor="let category of categories15" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="เวกเตอร์ในสามมิติ">
          <div *ngFor="let category of categories15" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

    </div>
    <!-- /////////////////////////////////////////////////////////////////////////// -->

    <div class="ui-g">
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="จำนวนเชิงซ้อน" [toggleable]="true">
          <div *ngFor="let category of categories13" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="จำนวนเชิงซ้อน">
          <div *ngFor="let category of categories13" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      
      </div>
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ความน่าจะเป็น" [toggleable]="true">
          <div *ngFor="let category of categories17" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ความน่าจะเป็น">
          <div *ngFor="let category of categories17" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>
        <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="เซต" [toggleable]="true">
          <div *ngFor="let category of categories8" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="เซต">
          <div *ngFor="let category of categories8" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

    </div>
  </p-card>
    
      <!-- /////////////////////////////////////////////////////////////////////////// -->

    <div class="ui-g">
      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ฟิสิกส์" [toggleable]="true">
          <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ฟิสิกส์">
          <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="เคมี" [toggleable]="true">
          <div *ngFor="let category of categories3" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="เคมี">
          <div *ngFor="let category of categories3" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>

      <div class="ui-g-4" style="width:33% !important;">
        <!-- <p-fieldset legend="ชีวะ" [toggleable]="true">
          <div *ngFor="let category of categories6" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-fieldset> -->
        <p-card header="ชีวะ">
          <div *ngFor="let category of categories6" class="field-checkbox">
            <p-checkbox name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories">
            </p-checkbox>
            &nbsp; &nbsp;
            <label>{{category.name}}</label>
          </div>
        </p-card>
      </div>
    </div>
    
    

    <!-- <div class="grid grid-nogutter justify-content-end"> -->
        <!-- <button pButton type="button" label="Small" icon="pi pi-check" class="p-button-sm"></button>
        <button pButton type="button" label="Normal" icon="pi pi-check" class="p-button"></button>
        <button pButton type="button" label="Large" icon="pi pi-check" class="p-button-lg"></button>
        <button pButton type="button" label="Primary" class="p-button-outlined"></button> -->
    <!-- </div> -->
